<% include ../partials/header %>
<div class="col-md-6 mx-auto">
      <div class="card card-body">
			<div class="container mt-5">
			    <h1 class="text-center"><%= status %></h1>
			    <% for(var i = 0; i < party.length; ++i) {%>
			  - <%=party[i].name + ' with ' + party[i].vote + 'votes' %><% } %>
			    </div>
			<a href="/auth/logout" class="logout">Logout</a>
			    <a href="/" class="logout">Back to Home</a>

      </div>
      </div>
