<% include ../partials/header %>


  <div class="container text-center">
    
    <br>
<div class="card card-body">
    <% if (alreadyVoted) { %>
    <h1 class="text-center mt-4">Thanks for your vote</h1>
      <h2 class="text-center mt-4">ALREADY VOTED</h2>
    <% } else { %>
    <div class="col-md-6 mx-auto">
      
		 <h1 class="text-center mt-4">Vote to your choice</h1>      
		    <form action="/auth/vote" method="post">
		      <select name="party">
		        <option value="BJP">BJP</option>
		        <option value="CONGRESS">CONGRESS</option>
		        <option value="AAP">AAP</option>
		      </select>
		      <input type="submit" value="Submit">
		    </form>
      </div>
      </div>
   
    <% } %>



    <br>

    
    <a href="/auth/logout" class="logout">Logout</a>
    <a href="/" class="logout">Back to Home</a>
  </div>
<% include ../partials/footer %>
