<% include ../partials/header %>


  <div class="container text-center card card-body">
    
    <br>
    <% if (alreadyVoted) { %>
    <h1 class="text-center mt-4">Thanks for your vote</h1>
      <h2 class="text-center mt-4">ALREADY VOTED</h2>
    <% } else { %>
    <div class="col-md-6 mx-auto">
      
		 <h1 class="text-center mt-4">Vote to your choice</h1>      
		    <form action="/auth/vote" method="post">
		      <select name="party">
		        <option value="BJP">Candidate 1 - BJP</option>
		        <option value="CONGRESS">Candidate 2- CONGRESS</option>
		        <option value="AAP">Candidate 3- AAP</option>
		      </select>
		      <input type="submit" value="Submit">
		    </form>
      </div>
      
   
    <% } %>



    <br>
    <a href="/auth/logout" class="logout">Logout</a>
    <a href="/" class="home">Back to Home</a>

  </div>
<% include ../partials/footer %>
