<% include ../partials/header %>
<div class="container mt-5">
<div class="card card-body">
    <h1 class="text-center"><%= acknowledgeMsg %></h1>
    <a href="/auth/logout" class="logout">Logout</a>
    <a href="/" class="logout">Back to Home</a>
    </div>

</div>