<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jaipur Assignment</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
  <style>
    .btn { cursor: pointer; }
    .logout { display: block; text-align: center;}
    .author {display: block; text-align: center;}
    #app{
  padding: 50px 0;
}

.custom-legend{
  cursor: pointer;
}

text.custom-legend-value{
  font-size: 28px;
  fill: black;
  alignment-baseline: hanging;
}
text.custom-legend-title{
  font-size: 15px;
  fill: grey;
  alignment-baseline: hanging;
}

.c3-arc.c3-arc-good,
.custom-legend-color.is-good{
  fill: #00d455 !important;
}
.c3-arc.c3-arc-neutral,
.custom-legend-color.is-neutral{
  fill: #5599ff !important;
}
.c3-arc.c3-arc-bad,
.custom-legend-color.is-bad{
  fill: #ff2a2a !important;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  text-align: center;
  color: #0b0b0b;
  font-family: "Cabin", sans-serif;
}

ul {
  text-align: left;
  list-style-type: none;
}

#wrapper {
  margin: 0 auto;
  width: 56%;
  max-width: 1200px;
  padding: 1%;
}

#parameters {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  overflow: hidden;
  margin-top: 3.5%;
  padding-left: 7px;
}

#parameters ul li {
  padding-bottom: 7px;
  line-height: 1.7;
}

#parameters ul {
  width: 33%;
  float: left;
}
}

  </style>
</head>
<body background="/images/voteimg.jpg">