<% include partials/header %>
  <div class="container mt-5">
    <h1 class="text-center"><%= title %></h1>
    <small class="author">by Shubham</small>
    <div class="text-center row" style="background-color: white;">
      <div class="col-4"><a href="/auth/register">Register</a></div>
      <div class="col-4"><a href="/auth/login">Login</a></div>
      <div class="col-4"><a href="/auth/status">Status</a></div>
    </div>
  </div>
<% include partials/footer %>

