<% include partials/header %>
  <div class="container mt-5">
    <h2 class="text-center"><%= title %></h2>

    <small class="author">by Shubham</small>
    <div class="text-center row" style="background-color: white;padding: 10px;">
      <div class="col-4"><a class="btn btn-primary" href="/auth/register">Register</a></div>

      <div class="col-4"><a class="btn btn-primary" href="/auth/login">Vote</a></div>

      <div class="col-4"><a class="btn btn-primary" href="/auth/status">Status</a></div>



      
      
    </div>
  </div>
<% include partials/footer %>

